.required label:after {
    content: ' *';
    color: #ff5252;
}

.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state)
    > .v-input__control
    > .v-input__slot
    fieldset {
    border-color: #dadce0;
}

.bordered-switch .v-input--switch__thumb {
    border: 1px solid #bdbdbd !important;
}
.bordered-switch .v-input--switch__thumb.primary--text {
    border-color: transparent !important;
}

ul.contains-task-list {
    padding-left: 0;

    li.task-list-item {
        list-style-type: none;
    }
}
