.required label:after {
    content: ' *';
    color: #ff5252;
}

.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state)
    > .v-input__control
    > .v-input__slot
    fieldset {
    border-color: #dadce0;
}
