$font-family: 'Open sans';

.v-application {
    [class*='text-'] {
        color: #36405a;
        font-family: $font-family, sans-serif !important;
    }
    font-family: $font-family, sans-serif !important;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.v-application p {
    margin-bottom: 0.25rem;
}

.text--monospace {
    font-family: monospace;
}

.theme--light.v-application kbd {
    padding: 0.1em 0.3rem;
    background-color: #eceff1 !important;
    color: #78909c !important;
    font-size: 0.8em;
    border: 1px solid #cfd8dc;
    box-shadow: none;
}

.theme--light.v-application .v-tooltip__content kbd {
    background-color: #424242 !important;
    color: #e0e0e0 !important;
    border: 1px solid #212121;
}
